.Formation {
    display: flex;
    margin: 0px 25% 0px 25%;
    flex-direction: column;
    align-items: center;
}

.Formation .LRBack {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.Formation .LRBack img {
    margin: 0px 70px 0px 70px;
}

.Formation .CDM img {
    margin: 10px 30px 10px 30px;
}

.Formation .CDM {
    display: flex;
}
.Formation .MD {
    display: flex;
} 

.Formation .MD img {
    margin: 10px 90px 10px 90px;
} 

.Formation .ATA img {
    margin: 10px 10px 10px 10px;
} 

.Formation .ATA {
    display: flex;
} 

.Formation .Defense {
    display: flex;
}

.Formation .Defense img {
    margin: 10px 50px 10px 50px;
}

.Formation img {
    width: 70px;
}